trigger:
  branches:
    include:
      - master  # Trigger the pipeline on commits to the master branch

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'

steps:
# Checkout the code repository using default behavior
- checkout: self  # This is the default behavior, ensuring that the pipeline uses the repository it's running in.

# Step to copy static website files (HTML, CSS, JS) to the artifact staging directory
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: '**/*'  # Include all files (HTML, CSS, JS, etc.)
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

# Optionally, zip the content if required (skip this step if not needed)
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.ArtifactStagingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/drop/static-site.zip'

# Step to deploy static files to Azure Web App
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Basic-terraform'
    appType: 'webApp'
    appName: 'siarastanley'
    package: '$(Build.ArtifactStagingDirectory)/drop/static-site.zip'  # Using the zip file created
    deploymentMethod: 'auto'
