trigger:
  branches:
    include:
      - master  # Trigger the pipeline on commits to the master branch

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
# Step to checkout code (if needed)
- task: Checkout@1
  displayName: 'Checkout code'

# Step to copy static website files (HTML, CSS, JS) to the artifact staging directory
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: '**/*'  # Include all files (HTML, CSS, JS, etc.)
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

# Ensure that files are zipped before deploying (if required)
- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: true

# Step to deploy static files to Azure Web App
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Basic-terraform'
    appType: 'webApp'
    appName: 'siarastanley'
    package: '$(Build.ArtifactStagingDirectory)/drop/**/*.zip'  # Correct package path for zip
    deploymentMethod: 'auto'
