@page
@model MyCoreApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fancy Buttons and Alerts</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Choose Your Answer</h1>
        <button class="button" onclick="showAlert('PanduThalli😍😍 Loves Sidhu')">YES</button>
        <button class="button" onclick="showAlert('Sidhu💕💕 Loves PanduThalli')">NO</button>

        <div id="alert-box" class="fancy-alert"></div>
    </div>

    <script src="~/js/scripts.js"></script>
</body>
</html>
